# https://github.com/WolfgangFahl/pyLoDStorage
# https://pypi.org/project/pylodstorage/
pylodstorage>=0.0.74
# https://pypi.org/project/PyYAML/
PyYAML
# web server
# https://pypi.org/project/Flask/
Flask
# https://github.com/WolfgangFahl/pyFlaskBootstrap4
pyFlaskBootstrap4
# ftfy
# https://github.com/rspeer/python-ftfy
# https://stackoverflow.com/a/39904411/1497139
ftfy
