{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_messages %}
{% import 'macros.html' as macros %}
{{ macros.header(title) }}
    <main class="container-fluid">
		{% if menuList %}{{ macros.menu(menuList) }}{%endif %}
        {{ render_messages(container=False, dismissible=True) }}
        {% block content %}{% endblock %}
    </main>

    <footer class="text-center">
        {% block footer %}
            <small>&copy; 2021–<script>document.write(new Date().getFullYear())</script> <a href="http://www.bitplan.com/Wolfgang_Fahl" title="Wolfgang Fahl">Wolfgang Fahl</a>&nbsp;Powered by <a href="https://github.com/WolfgangFahl/pyFlaskBootstrap4">pyFlaskBootstrap4</a></small>
        {% endblock %}
    </footer>

	{% block scripts %}
    	{{ bootstrap.load_js() }}
    	{{ macros.loadToggleText() }}
    {% endblock %}	
</body>
</html>
